header{
    
    color: rgb(9, 40, 51);
    padding: 2px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
body{
    background-image: url(portfolio_pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.navbar{
padding : 1rem;
position: sticky;

}
.nav-container{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-brand{
    color:white;
    text-decoration:none ;
    font-size:1.5rem;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a{
color:  rgb(9, 40, 51);
text-decoration:none;
font-size:1.1rem;

}
.nav-links a:hover{
    color: rgb(171, 209, 231);
}
.about-me {
    padding: 23px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(9, 40, 51);
    background-color: rgb(186, 210, 231);
    width: 1250px;
    width: 90%;
    margin-bottom: 40px;
    text-align: left;
}
.about-me-container{
    font-size: 20px;
    color: rgb(9, 40, 51);
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;

}
.about-me-text{
    display: flex;  
    align-items: center; 
    gap: 20px;
}
.about-me-text2{
    display: flex;  
    align-items: center; 
    gap: 20px;
}
.goals{
    padding: 23px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(9, 40, 51);
    background-color: rgb(186, 210, 231);
    width: 1250px;
    width: 90%;
    margin-bottom: 40px;
    text-align: left;
}
.goals-container{
    font-size: 20px;
    color: rgb(9, 40, 51);
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;

}
.personal-story{
    padding: 23px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(9, 40, 51);
    background-color: rgb(186, 210, 231);
    width: 1250px;
    width: 90%;
    margin-bottom: 40px;
    text-align: left;
}
.personal-story-container{
    font-size: 20px;
    color: rgb(9, 40, 51);
    font-style: italic;
    margin-bottom: 20px;
    text-align: left;

}

  footer {
    background-color:rgb(9, 40, 51);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .social-links a:hover {
    color: rgb(186, 210, 223);
  }
  .riddle-section {
    margin-top: 50px;
    text-align: center;
    color: rgb(9, 40, 51);
  }
  
  #secret-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #e6f7ff;
    border-radius: 8px;
    color: rgb(9, 40, 51);
  }
  
  input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: rgb(9, 40, 51);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(186, 210, 231);
  }
  